@{
    ViewData["Title"] = "Home Page";
}

<h2>This is Home Page</h2>
<h3>Level 3 Header</h3>
<h4>Level 4 Header</h4>
<h5>Level 5 Header</h5>
<h6>Level 6 Header</h6>
<p>This is where the general stuff will happen. I want to put in a box to add new entries to a database here, dont know how yet.</p>


